/* splashScreen.css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: url("/src//assets/images/image\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  
  /* height: 100vh; */
  text-align: center;
}

  
 
  /* spinner.css */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #d71e1e;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 
  .splashScreen {
    /* Set the background image */
    position: relative; /* Add this to make the pseudo-element absolute */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Make the entire viewport height */
  }
  
  #btn {
    border-radius: 20px;
    background: #d71e1e;
    width: 355px;
    height: 53px;
    flex-shrink: 0;
    border-style: none;
    margin-top: 29px;
    z-index: 3333;

  }
  
  #btn-text {
    color: #fff;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .futureChat,
  .futureChatText {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    text-align: center; /* Center the text horizontally */
  }
  
  .futureChat {
    font-weight: 600;
    line-height: 29.05px;
    font-size: 24px;
  }
  .Text{
    max-width:1000px ;

  }
  .futureChatText {
    font-size: 17px;
    font-weight: 300;
    text-wrap: wrap;

    line-height: normal;
  }
  #btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .splashScreen {
      margin-top: 252px;
      margin-left: 43px;
      margin-right: 55px;
      margin-bottom: 72px;
    }
    .body{
      width: fit-content;
    }
  
    .futureChat,
    .futureChatText {
      color: #fff;
      font-family: Inter;
      font-style: normal;
      text-align: center; /* Center the text horizontally */
    }
  
    .futureChat {
        font-weight: 600;
        line-height: 29.05px;
      
        width: 331px;
        height: 58px;
        font-size: 17px;
     
    }
  
    .futureChatText {
      width: 349px;
      height: 80px;
      font-size: 11px;
      font-weight: 300;
      line-height: normal;
      text-wrap: balance;
      margin-top: 724px;
      margin-left: 43px;
      text-align: center; /* Center the text horizontally */
    }
  
  }
  